Package: lumen
Version: 1.0.0
Section: utils
Priority: optional
Architecture: all
Installed-Size: 643072
Maintainer: Marcin Wróblewski <1trcb9qqc@mozmail.com>
Depends: python3, ddcutil, x11-xserver-utils, python3-pip, python3-venv, libxcb-xinerama0, libxcb-cursor0, libx11-xcb1, libxrender1, libxi6, libxrandr2, libxfixes3, libxkbcommon-x11-0
Description: Lumen – Monitor brightness adjustment application
 Lumen is a graphical application written in Python (PySide6),
 that allows you to discover and manage monitors connected to your system.
 It allows you to adjust the brightness by hardware (DDC/CI) and software (xrandr),
 supports multiple monitors, and remembers user settings.
